@import "../../assets/scss/variables";

#header {
    width: 100%;
    height: 100px;
    background: $light-blue;

    .center-column {
        height: 100%;

        .row {
            display: flex;
            height: 100%;
            align-items: center;
        }

        p { 
            color: $white;
            font: 26px $comic-font;
            margin: 0 40px;
         }
    }
}