@import "./variables";

.center-column {
    max-width: 1400px;
    margin: 0 auto;
}

.button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    outline: inherit;
    background: $light-blue;
    color: $white;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

}