$light-blue: #536a9b;
$white: #fff;
$black: #000;
$light-grey: #999;
$red: #df6c6c;
$light: #f8f8f8;

$roboto-font: 'Roboto', sans-serif;
$comic-font: 'Comic Sans MS', sans-serif;

$opacity-transition: opacity ease-in 300ms;

$mobile: 768px;


@mixin mobile {
  @media (max-width: $mobile - 1px) {
    @content;
  }
}
