<div class="movie-detailed" *ngFor="let current of movie">
    <div class="thumb">
        <img class="poster" src="{{ current.Poster }}" alt="">
    </div>
    <div class="descr">
        <h1 class="title">{{ current.Title }}</h1>
        <div class="details">
            <span class="year">Year: {{ current.Year }}</span>
            <span class="type">Type: {{ current.Type }}</span>
            <span class="plot">Plot: {{ current.Plot }}</span>
            <span class="rating">Rating: {{ current.imdbRating }}</span>
            <span class="runtime">Runtime: {{ current.Runtime }}</span>
            <span class="genre">Genre: {{ current.Genre }}</span>
        </div>
      
        <a [routerLink]="['/movies']" class="button">Back To Search Results</a>
    </div>
</div>