@import "../../../assets/scss/variables";

.movie-detailed {
    margin: 0 40px;
    padding: 40px;
    float: left;
    background-color: $light;
    
    @include mobile {
        margin: 0;
        padding: 30px 20px;
    }

    .thumb {
        position: relative;
        height: 100%;
        width: 30%;
        float: left;

        @include mobile {
            width: 100%;
            margin-bottom: 20px;
        }

        &:before {
            content: "Poster Missing";
            position: absolute;
            top: 100px;
            left: 30%;
            font-size: 19px;
            text-transform: uppercase;
            color: $light-grey;
            z-index: 1;

            @include mobile {
                display: none;
            }
        }
        
        img { 
            position: relative;
            width: 100%;
            z-index: 2;
         }
    }

    .descr {
        float: left;
        width: 67%;
        padding-left: 3%;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }

        h1 {
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: $light-grey;

            @include mobile {
                font-size: 18px;
                margin-bottom: 20px;
            }
        }

        span {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
        }

        .details {
            margin-bottom: 30px;
        }

        .button {
            transition: $opacity-transition;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}