@import "../../../assets/scss/variables";

h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $light-grey;
}

form {
    margin: 0 40px;

    @include mobile {
        margin: 0 20px;
    }

    input[type="text"] {
        font-size: 18px;
        padding: 9px;
        float: left;
        border: 0;
        background: $light;

        @include mobile {
            width: 175px;
        }
    }

    button {
        cursor: pointer;
        transition: $opacity-transition;

        &:hover {
            opacity: 0.8;
        }
    }
}

.error {
    color: $red;
    margin: 20px 0 0 40px;

    @include mobile {
        margin: 20px 0 0 20px;
    }

}

.movies-list {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    list-style-type: none;
    text-align: center;
    
    .movie-item {
        width: 300px;
        margin: 20px;
        background-color: $light;
        display: inline-block;
        vertical-align: top;
        transition: $opacity-transition;

        @include mobile {
            margin: 20px 0;
        }

        &:hover {
            opacity: 0.8;
        }
      
        img {
            display: block;
            width: 100%;
            margin: 0 auto;
        }

        .descr {
            padding: 10px;

            h2 {
                text-transform: uppercase;
                margin-bottom: 10px;
                line-height: 1.3;
            }

            span {
                display: inline-block;
                width: 100%;
                margin-bottom: 10px;
            }
        }

        a { color: $black; }
    }
}