<div class="movies">
    <form (ngSubmit)="fetchMovies()">
        <h1>Search Your Favorite Movie</h1>
        <p><input type="text" placeholder="enter title" name="search" [(ngModel)]="query" (ngSubmit)="fetchMovies()"></p>
        <p *ngIf="loading" class="loading">Loading.....</p>
        <button class="button" type="submit">Search</button>
      </form>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    <ul class="movies-list">
        <li class="movie-item" *ngFor="let movie of (movies | async)">
            <a [routerLink]="['/movies', movie.imdbID]">
                <div class="thumb">            
                    <img class="poster" src="{{ movie.Poster }}" alt="">
                </div>
                <div class="descr">
                    <h2 class="title">{{ movie.Title }}</h2>
                    <span class="year">{{ movie.Year }}</span>
                    <span class="type">{{ movie.Type }}</span>
                </div>  
            </a>
        </li>
    </ul>
</div>